.containerFluid {
  z-index: 2000;
  opacity: 0;
  transform: translateY(1rem);
  animation: slideUp 0.5s forwards;
  animation-delay: 1.5s;
  background: rgba(0, 0, 0, 0.6);
}

@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}
